<div class="row text-center">
  <div class="large-3 small-2 column">&nbsp;</div>
  <div class="large-6 small-8 column main">
    <% x = devise_error_messages! %>
    <% unless x.empty? %>
      <div class="callout small secondary errors-without-bullets">
        <%= devise_error_messages! %>
      </div>
    <% end %>
    <h2>Resend confirmation instructions</h2>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions">
        <%= f.submit "Resend", :class => 'cuteButton' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
  <div class="large-3 small-2 column">&nbsp;</div>
</div>
