<div class="row text-center">
  <div class="large-3 small-2 column">&nbsp;</div>
  <div class="large-6 small-8 column main">
    <% x = devise_error_messages! %>
    <% unless x.empty? %>
      <div class="callout small secondary errors-without-bullets">
        <%= devise_error_messages! %>
      </div>
    <% end %>
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit  "Sign up", :class => 'cuteButton' %>
      </div>
    <% end %>

    Or, if you already have an account, <%= render "devise/shared/links" %>
  </div>
  <div class="large-3 small-2 column">&nbsp;</div>
</div>
