<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans" rel="stylesheet">
  </head>

  <body>
    <div class="row text-center">
      <div class="large-2 small-1 column">&nbsp;</div>
      <div class="large-8 small-10 column ">
        <div class="heading text-center">
          Purr.io
        </div>

        <% if notice %>
          <div class="callout small secondary">
            <%= notice %>
          </div>
        <% end %>

        <% if alert %>
          <div class="callout small secondary">
            <%= alert %>
          </div>
        <% end %>
      </div>
      <div class="large-2 small-1 column">&nbsp;</div>
    </div>


    <%= yield %>

    <div class="row">
      <div class="large-12 small-12 column text-center">
        <% if user_signed_in? %>
          Signed in as <b><%= current_user.username %></b>
           |
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% end %>
      </div>
    </div>
  </body>
</html>
